<div class="form-group col-md-6">
  <label for="Phone_no">Mobile no:</label>
  <input type="tel" name="Phone_no" class="form-control" id="Phone_no" placeholder="+91">
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">
<label>Adress Deatils:</label>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="house_no">H No:</label>
    <input type="text" name="house_no" class="form-control" id="house_no">
  </div>
  <div class="form-group col-md-6">
    <label for="building_name">Building:</label>
    <input type="text" name="building_name" class="form-control" id="building_name">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6">
    <label for="street">Street:</label>
    <input type="text" name="street" class="form-control" id="street">
  </div>
  <div class="form-group col-md-6">
    <label for="area">Area:</label>
    <input type="text" name="area" class="form-control" id="area">
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-5">
    <label for="inputCity">City</label>
    <input type="text" name="City" class="form-control" id="inputCity">
  </div>
  <div class="form-group col-md-4">
    <label for="inputState">State</label>
    <select id="inputState" name="State" class="form-control">
      <option selected>Telangana</option>
      <option>Andhra Pradesh</option>
    </select>
  </div>
  <div class="form-group col-md-3">
    <label for="inputZip">Zip</label>
    <input type="text" name="Zip" class="form-control" id="inputZip">
  </div>
</div> -->
