<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title></title>
  </head>
  <body>
    {% load static %}
    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{% static 'customer_interface/django_image.png' %}" class="d-inline-block align-top"   alt="" width="30" height="24">
          <b>LiftUp</b>
        </a>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{% url 'customer_interface:home' %}"><button type="button" class="btn btn-secondary">Log Out</button></a>
        </li>
      </ul>
      </div>
      </nav>
      <div class="container">
        <div class="jumbotron">
          {% csrf_token %}
           <b>Hi {{user.username}}.</b>
          <h2>Welcome, Hope you are having a wonderful day!</h2>
          <br>
        </div>
      </div>

      <div class="container px-4 ">
        <div class="row gx-5">
          <div class="col-6">
            <div class="p-3 border bg-light">
                    {% for detail in details %}
                    <form class="" >
                      <b>{{user.username}}</b><br>
                      Phone_no: <b>{{detail.Phone_no}}</b><br>
                      Address: <b>{{detail.house_no}}</b>,
                      <b>{{detail.building_name}}</b>,
                      <b>{{detail.street}}</b>
                      <b>{{detail.area}},{{detail.city}},{{detail.state}}.</b><br>
                      pincode:<b>{{detail.pincode}}</b>
                            {% endfor %}
                          </form>
              </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-light">
              <p>
              <h4>Raise a Service Request</h4>
                <button type="button" class="btn btn-secondary btn-lg">Raise Request</button></p>
              </div>
                </div>
            </div>
          </div>
          <br>

          <div class="container px-4">
            <div class="row gx-5">
              <div class="col">
                <div class="p-3 border bg-light">
                  <h3>Membership Status</h3>
                  <h4><span class="badge bg-info text-dark">Premium</span></h4>  
                </div>
              </div>
              <div class="col">
                <div class="p-3 border bg-light">
                  <h4>Premium Renewal Request</h4>
                  <button type="button" class="btn btn-secondary btn-lg">Raise Request</button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="container">

            <div class="row">
              <span class="border border-2">
              <div class="col-9"> <h3><b>Service History:</b></h3> </div></span>
              <div class="col-4"><b>Future services</b><br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
              <div class="col-6"><b>History</b><br>Subsequent columns continue along the new line.</div>

            </div>

          </div>
  </body>
</html>
